body{
    background-color: var(--primeri-white-color);
    color: var(--text-color);
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}
html{box-sizing: border-box;}

*,
*::before,
*::after {
    box-sizing:inherit;
}
:root{
    --title-text-color: #212121;
    --text-color:#757575;
    --akcent-color: #2196F3;
    --akcen-color-button:#188CE8;
    --primeri-white-color:#FFFFFF;

    --card-set-gap:30px;

}
h1,h2,h3,h4,h5,h6{
    margin-top: 0;
    margin-bottom: 0;
}
ul,li,p{
    margin: 0;
    padding: 0;
}
a{
    color: inherit;
    text-decoration: none;
} 
img{
    display: block;
    width: 100%;
    height: auto;
}


.list{
    list-style: none;
    padding: 0;
    margin: 0;
    
}
a {text-decoration: none;
} 
.pointer {
    cursor: pointer;
} 
.container{
    width: 1200px;
    margin-left: auto;
    margin-right:auto;
    padding-left: 15px;
    padding-right: 15px;  
    /* outline: 2px solid red;*/

}
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* #region header */
.heder-line{
    border-bottom: 1px solid #ECECEC;
}
.heder{
    display: flex;
    align-items: center;
}

.logo{
    color:var(--title-text-color);
    font-family: Raleway;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.78px;
}
.logo-top{
    color: var(--akcent-color);
}
.menu-nav{
    margin-left: 93px;
}
.menu-list{
    display: flex;
    
    
}
.menu-item{
    padding: 32px 0;
    position: relative;
}
.menu-item + .menu-item{
    margin-left: 50px;
}

.menu-link{
    
    color: var(--title-text-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
}
.menu-link:hover,
.menu-link:focus{
    color: var(--akcent-color);
    transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-link.current::after{
    position: absolute;
    bottom: 0;
    content: '';
    display: block; 
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background-color:var(--akcent-color);    
}
.menu-link.current{
    color: var(--akcent-color);
}
.contact{
    display: flex;
    margin-left: auto;
}

.contact-link{
    display: flex;
    align-items: center;
    color: var(--text-color);
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.28px;
    padding: 32px 0;
}
.contact-link:hover,
.contact-link:focus{
    color: var(--akcent-color);
    transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-item+.contact-item{
    margin-left: 50px;
}
.contact-icon{
    width: 16px;
    height: 12px;
    fill: currentColor;
    margin-right: 10px;

}
.contact-icon-tel{
    width: 10px;
    height: 16px;
    fill: currentColor;
    margin-right: 10px;
}
/* #endregion */
/* #region hero */

.hero{
    display: flex;
    background-color: #757575;
    text-align:center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.overlay{
    height: 600px;
    background-size: 1600px;
    background-image:linear-gradient(   
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url(/WebStudia/images/hero.jpg);
        background-repeat: no-repeat;
        background-position: center;
}
.hero-title{
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    color:var(--primeri-white-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.93;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.hero-btn{
    display: inline-block;
    min-width: 200px;
    padding: 10px 32px;
    text-align: center;
    border-radius: 4px;
    border-style: none;
    background-color: var(--akcen-color-button);
    color: var(--primeri-white-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    font-family: inherit;
}
/* #endregion */
/* #region features */
.features{
    padding: 94px 0;

}
.features-list{
    display: flex;
}
.features-item{
    width: 270px;
}
.features-background{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    height: 120px;
    border-radius: 4px;
    background-color: #F5F4FA;
}

.features-icon{
    width: 70px;
    height: 70px;
}


.features-item +.features-item{
    margin-left: 30px;
}
.features-icon{
    background-color: #F5F4FA;
}
.features-title{    
    color: var(--title-text-color);    
    font-size: 14px;   
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
.features-text{
    color: var(--text-color);   
    font-size: 14px;    
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.42px;
}
/* #endregion */
/* #region work */
.work{
    padding-bottom: 94px;
}
.work-title{
    margin-bottom: 50px;
    color: var(--title-text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
}
.work-list{
    display: flex;
}
.example+.example{
    margin-left: 30px;
}
.example{
    position: relative;
}
.example-coment{
    position: absolute;
    bottom: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    padding-top: 27px;
    padding-bottom: 27px;
    background: rgba(47, 48, 58, 0.80);
}
.example-title{
    color: var(--primeri-white-color);
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
}
/* #endregion */
/* #region team */
.team{
    padding: 94px 0;
    background-color: #F5F4FA;
}
.team-title{
    color: var(--title-text-color);
    text-align: center;   
    font-size: 36px;   
    font-weight: 700;
    letter-spacing: 1.08px; 
    margin-bottom: 50px;   
}
.team-list{
    display: flex;
}
.member-title{
    color: var(--title-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.48px;
    margin-bottom: 10px;
}
.member-description{
    color: var(--text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.48px;
    margin-bottom: 16px;
}
.team-member{
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.20),
                0px 1px 1px 0px rgba(0, 0, 0, 0.14),
                0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.team-member+.team-member{
    margin-left: 30px;
}
.team-images{
    margin-bottom: 30px;
}
/* #endregion */
/* #region footer */
.footer{
    padding-top: 60px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color: #2F303A;

}
.logo-footer{
    display: inline-block;
    color:var(--primeri-white-color);
    font-family: Raleway;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 0.78px;
    margin-bottom: 20px;
}
.logo-bottom{
    color: var(--akcent-color);
}
.footer-text{
    color: var(--primeri-white-color);
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.42px;
    font-style: normal;
    margin-bottom: 9px;
}
.contact-footer{
    display: inline-block;
    color: var(--text-color);
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 171.429% */
    letter-spacing: 0.42px;    
}
.footer-link:hover,
.footer-link:focus{
    color: var(--akcent-color);
    transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link+.footer-link{
    margin-top: 9px;
}
/* #endregion */
/* #region footer social */
.connect{
    margin-left: 70px;
}
.connect-title{
    color: var(--primeri-white-color);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.connect-list{
    display: flex;
}
.connect-link:hover,
.connect-link:focus{
    background-color: var(--akcent-color);
    transition: color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
.connect-link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color:#44454E;
}
.connect-icon{
    width: 20px;
    height: 20px;
    fill:var(--primeri-white-color);
}
.connect-item:not(:first-child){
    margin-left: 10px;
}
.footer-section{
    display: flex;
    align-items: baseline;
}
/* #endregion */
/* #region filtr */
.filtr{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.filtr-item+.filtr-item{
    margin-left: 8px;
}
.filtr-button{
    color: var(--title-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 26px; 
    letter-spacing: 0.48px;
    border-radius: 4px;
    border: none;
    background: #F5F4FA;
}
.filtr-button:hover,
.filtr-button:focus{
    color: var(--primeri-white-color);
    background: var(--akcent-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filtr-button.current{
    color: var(--primeri-white-color);
    background: var(--akcent-color);
    
}
/* #endregion */
/* #region filtr card */
.project{
    padding: 94px 0;
}
.card-set{
    
    display: flex;
    flex-wrap: wrap;
    margin-left:calc(-1* var(--card-set-gap));
    margin-top: calc(-1* var(--card-set-gap));

}

.card-set>.item{
    flex-basis: calc(100% / 3 -  var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}
.card{
    
    border-radius: 4px;
    
}
.card:hover,
.card:focus{
    box-shadow:
    1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    1px 4px 4px 0px rgba(0, 0, 0, 0.6),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);}


.card-title{
    color: var(--title-text-color);
    font-weight: 700;   
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
}

.card-text{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.03em;
    margin-top: 4px;
}
.card-content{
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.card-thumb{
    position: relative;
    overflow: hidden;
}
.overlay-text{
    color:var(--primeri-white-color);
    font-size: 18px;
    line-height: 28px; 
    letter-spacing: 0.54px;
    position: absolute;
    
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: var(--akcent-color);
    transform: translatey(100%);
    transition: transform 250ms ease-in;}

    .card-thumb:hover .overlay-text{
        transform: translateY(0);
    
    }
/* #endregion */
/* #region social */
.social-list{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 30px;
    
}
.social-item{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color:  #AFB1B8;
    border-radius: 50%;

}
.clients-item:not(:first-child){
    margin-left: 30px;
}
.social-icon{
    width: 20px;
    height: 20px;
    fill: currentColor;
}
.social-item:focus,
.social-item:hover{
    background-color: var(--akcent-color);
    color: var(--primeri-white-color);
    transition:background-color 250ms  cubic-bezier(0.4, 0, 0.2, 1), color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */
/* #region clients */
.client{
    padding: 94px 0;
}
.clients-title{
    color: var(--title-text-color);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    letter-spacing: 1.08px;
    margin-bottom: 50px;
}
.clients-list{
    display: flex;
    justify-content: center;
}

.clients-link{
    display: flex;
    width: 170px;
    height: 92px;
    padding: 16px 32px;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
}

.clients-icon{
    width: 106px;
    height: 60px;
    fill: currentColor;
}
.clients-link:hover,
.clients-link:focus{
    color: var(--akcent-color);
    border-color: var(--akcent-color);
    transition:border-color 250ms  cubic-bezier(0.4, 0, 0.2, 1), color 250ms  cubic-bezier(0.4, 0, 0.2, 1);
}
/* #endregion */ 
/* #region modal */

.backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;

}
.backdrop{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.20);
}
.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    min-width: 528px;
    min-height: 581px;
    background-color: #fff;

    padding: 20px;
}
/* #endregion */