.project{
    padding: 94px 0;
}
.card-set{
    
    display: flex;
    flex-wrap: wrap;
    margin-left:calc(-1* var(--card-set-gap));
    margin-top: calc(-1* var(--card-set-gap));

}

.card-set>.item{
    flex-basis: calc(100% / 3 -  var(--card-set-gap));
    margin-left: var(--card-set-gap);
    margin-top: var(--card-set-gap);
}
.card{
    
    border-radius: 4px;
    
}
.card:hover,
.card:focus{
    box-shadow:
    1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    1px 4px 4px 0px rgba(0, 0, 0, 0.6),
    0px 1px 1px 0px rgba(0, 0, 0, 0.12);}


.card-title{
    color: var(--title-text-color);
    font-weight: 700;   
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    
}

.card-text{
    color: var(--text-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.88;
    letter-spacing: 0.03em;
    margin-top: 4px;
}
.card-content{
    padding: 20px 24px;
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE;
}
.card-thumb{
    position: relative;
    overflow: hidden;
}
.overlay-text{
    color:var(--primeri-white-color);
    font-size: 18px;
    line-height: 28px; 
    letter-spacing: 0.54px;
    position: absolute;
    
    width: 100%;
    height: 100%;
    padding: 63px 24px;
    background-color: var(--akcent-color);
    transform: translatey(100%);
    transition: transform 250ms ease-in;}

    .card-thumb:hover .overlay-text{
        transform: translateY(0);
    
    }